In [1]:
import pandas as pd
import numpy as np
# Still does not correct for slightly off numbers like 1234 and 12340 being "different"

In [2]:
df = pd.read_csv("../input/TRR-subjects_2004-2016_2016-09.csv.gz")

In [35]:
cb_no = df['cb_no']

In [40]:
def clean_cb(x):
    if isinstance(x, str):
        x = x.replace(".0", "").replace("0.", "").replace("-", "")
        if len(set(x)) == 1 or x == "12345678":
            return np.nan
        else:
            return int(x)
    elif np.isnan(x):
        return np.nan
    else:
        return int(x)

In [41]:
v = pd.Series(cb_no).map(clean_cb)

In [6]:
df[((df['birth_year'] < 1900) |(df['birth_year'].isnull())) | ((df['age'] > 100) & (df['age'].isnull()))]

,trr_id,gender,race,age,birth_year,armed,injured,alleged_injury,subject_no,sr_no,se_no,trr_date
43,67,MALE,BLACK,1808,196,No,No,No,31.0,29.0,29.0,2004-02-10
46,75,MALE,BLACK,1956,48,No,No,No,34.0,32.0,32.0,2004-02-14
47,78,NaN,BLACK,1956,48,No,No,No,34.0,32.0,32.0,2004-02-14
81,120,FEMALE,WHITE,1953,51,No,No,No,53.0,52.0,53.0,2004-02-23
89,136,FEMALE,WHITE,1946,58,No,No,No,59.0,57.0,58.0,2004-02-26
90,137,FEMALE,WHITE,1946,58,No,No,No,59.0,57.0,58.0,2004-02-26
242,315,MALE,WHITE,1924,81,No,Yes,Yes,144.0,136.0,135.0,2004-03-20
1045,1378,MALE,BLACK,1922,83,No,No,Yes,620.0,599.0,595.0,2004-05-23
1312,1705,FEMALE,BLACK,1919,85,Yes,No,No,784.0,761.0,760.0,2004-06-07
1345,1752,MALE,BLACK,1957,47,Yes,No,No,803.0,785.0,784.0,2004-06-09
1393,1813,MALE,BLACK,1926,79,No,No,No,832.0,816.0,813.0,2004-06-13
1529,1975,MALE,BLACK,1809,196,No,Yes,Yes,916.0,894.0,890.0,2004-06-21
1897,2451,MALE,WHITE HISPANIC,118,1885,No,No,No,1136.0,1111.0,1109.0,2004-07-14
2357,3033,MALE,WHITE HISPANIC,1924,81,No,No,No,1399.0,1367.0,1358.0,2004-08-08
2365,3044,MALE,BLACK,1928,77,No,Yes,Yes,1404.0,1372.0,1363.0,2004-08-09
2366,3045,MALE,BLACK,1928,77,No,Yes,Yes,1404.0,1372.0,1363.0,2004-08-09
2379,3060,MALE,WHITE HISPANIC,1939,66,No,No,No,1412.0,1379.0,1370.0,2004-08-09
2380,3062,MALE,WHITE HISPANIC,1939,66,No,No,No,1412.0,1379.0,1370.0,2004-08-09
2476,3179,FEMALE,BLACK,1921,84,Yes,Yes,No,1468.0,1438.0,1426.0,2004-08-16
2477,3180,MALE,BLACK,1925,80,No,Yes,No,1471.0,1440.0,1426.0,2004-08-16
2478,3181,MALE,BLACK,1925,80,No,Yes,No,1471.0,1440.0,1426.0,2004-08-16
2479,3182,MALE,BLACK,1925,80,No,Yes,No,1471.0,1440.0,1426.0,2004-08-16
2480,3183,FEMALE,BLACK,1921,84,No,Yes,No,1468.0,1438.0,1426.0,2004-08-16
2486,3191,MALE,NaN,1921,84,No,Yes,Yes,NaN,1443.0,1430.0,2004-08-16
2823,3624,FEMALE,BLACK,1930,75,No,No,No,NaN,1665.0,1649.0,2004-09-06
2859,3661,MALE,BLACK,1808,197,No,Yes,Yes,1696.0,1681.0,1665.0,2004-09-08
3234,4136,MALE,BLACK,1927,78,No,No,No,1936.0,1904.0,1892.0,2004-09-28
3527,4518,MALE,BLACK,1807,198,No,No,No,2115.0,2088.0,2076.0,2004-10-16
3539,4531,MALE,WHITE HISPANIC,1944,61,No,No,No,2120.0,2092.0,2081.0,2004-10-17
3548,4541,FEMALE,BLACK,1918,87,No,No,No,2127.0,2099.0,2088.0,2004-10-18
...,...,...,...,...,...,...,...,...,...,...,...,...
58158,85601,MALE,WHITE,1937,78,No,Yes,Yes,35706.0,35732.0,36026.0,2014-07-26
58288,85756,MALE,BLACK,1035,979,Yes,Yes,Yes,35784.0,35814.0,36103.0,2014-08-03
58550,86081,MALE,BLACK,1923,92,Yes,No,No,35928.0,35967.0,36260.0,2014-08-16
59441,87136,FEMALE,BLACK,1917,98,No,No,No,36453.0,36507.0,36803.0,2014-10-14
59504,87210,MALE,WHITE HISPANIC,1948,67,No,Yes,Yes,NaN,36540.0,36840.0,2014-10-18
59602,87335,MALE,BLACK,1931,84,Yes,No,No,36545.0,36601.0,36901.0,2014-10-24
59734,87505,FEMALE,BLACK,1939,76,No,No,No,36623.0,36677.0,36980.0,2014-11-01
60023,87854,MALE,BLACK,1929,86,No,Yes,Yes,36799.0,36852.0,37154.0,2014-11-24
60352,88244,MALE,BLACK,1926,89,No,No,No,NaN,37043.0,37342.0,2014-12-18
60537,88451,MALE,WHITE HISPANIC,1919,96,Yes,No,No,37089.0,37149.0,37450.0,2015-01-01
60659,88585,MALE,BLACK,1921,95,No,No,No,NaN,37223.0,37526.0,2015-01-11
60795,88746,MALE,WHITE HISPANIC,1929,87,No,Yes,Yes,37237.0,37306.0,37610.0,2015-01-22
60802,88753,FEMALE,BLACK,1926,90,No,Yes,Yes,37242.0,37311.0,37615.0,2015-01-23
60901,88874,MALE,BLACK,1925,90,No,Yes,No,37302.0,37370.0,37676.0,2015-01-31
61626,89755,MALE,WHITE,1925,90,No,Yes,Yes,37718.0,37790.0,38101.0,2015-03-26
61730,89884,MALE,WHITE HISPANIC,1924,92,No,Yes,Yes,37781.0,37855.0,38164.0,2015-04-01
61901,90092,FEMALE,WHITE,1935,80,No,No,No,37878.0,37947.0,38260.0,2015-04-12
62170,90424,MALE,BLACK,1931,84,No,No,No,38047.0,38122.0,38433.0,2015-05-01
62235,90499,MALE,BLACK HISPANIC,1958,58,No,No,No,38081.0,38158.0,38467.0,2015-05-04
63197,91660,FEMALE,BLACK,1931,84,No,No,No,38643.0,38710.0,39022.0,2015-06-30
63330,91815,MALE,BLACK,1937,79,Yes,Yes,No,NaN,38781.0,39092.0,2015-07-06
63687,92261,MALE,BLACK,1924,91,Yes,Yes,Yes,38911.0,38973.0,39282.0,2015-07-25
64261,92980,MALE,BLACK,1919,97,No,No,No,39246.0,39321.0,39631.0,2015-09-02
64515,93299,FEMALE,BLACK,1917,99,No,No,No,39395.0,39475.0,39784.0,2015-09-18
65319,94312,MALE,WHITE,1934,82,No,Yes,No,39844.0,39938.0,40251.0,2015-11-07
65434,94445,MALE,WHITE HISPANIC,1927,90,No,Yes,No,39911.0,40007.0,40321.0,2015-11-16
65475,94495,FEMALE,BLACK,1923,93,No,No,No,39931.0,40029.0,40344.0,2015-11-19
65742,94816,MALE,BLACK,2010,6,No,No,No,NaN,40190.0,40502.0,2015-12-15
65827,94928,FEMALE,BLACK,1926,90,No,No,No,NaN,40243.0,40557.0,2015-12-24
66205,95420,MALE,BLACK,1923,93,No,No,No,40336.0,40451.0,40767.0,2016-02-03

In [8]:
df[df['birth_year'].isnull()]

Empty DataFrame
Columns: [trr_id, gender, race, age, birth_year, armed, injured, alleged_injury, subject_no, sr_no, se_no, trr_date]
Index: []

In [9]:
df[df.birth_year == df.age]

Empty DataFrame
Columns: [trr_id, gender, race, age, birth_year, armed, injured, alleged_injury, subject_no, sr_no, se_no, trr_date]
Index: []

In [11]:
df[['birth_year', 'age']].apply(min, axis=1)

0        38
1        38
2        25
3        25
4        24
5        21
6        21
7        21
8        22
9        21
10       28
11       55
12       38
13       38
14       31
15       31
16       26
17       19
18       26
19       19
20       18
21       37
22       37
23       37
24       37
25       20
26       25
27       23
28       23
29       23
         ..
66989    30
66990    25
66991    25
66992    25
66993    70
66994    24
66995    48
66996    20
66997    20
66998    26
66999    24
67000    24
67001    30
67002    21
67003    30
67004    21
67005    30
67006    30
67007    45
67008    19
67009    18
67010    22
67011    22
67012    18
67013    18
67014    18
67015    33
67016    33
67017    18
67018    18
Length: 67019, dtype: int64