In [1]:
import pandas as pd
from assign_unique_ids_functions import *
import numpy as np
pd.options.display.max_columns = 1000

In [2]:
df = pd.read_csv('../input/awards.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,award_start_date,award_type,race,award_request_date,birth_year,pps_award_detail_id,rank,gender,appointed_date,current_award_status,award_end_date,current_star,tracking_no,last_promotion_date,ceremony_date,resignation_date,requester_full_name,first_name,last_name,last_name_NS,first_name_NS,middle_initial,middle_initial2,suffix_name
0,2008-07-25,HONORABLE MENTION,WHITE,2008-07-27,1971.0,8038267,9171-SERGEANT OF POLICE,MALE,2005-09-26,DELETED,2008-07-25,1424.0,HP-473677,NaN,NaN,NaN,"OCHOA, PETER",JEFFERY,AARON,AARON,JEFFERY,M,NaN,NaN
1,2005-09-26,ATTENDANCE RECOGNITION AWARD,WHITE,2008-12-20,1971.0,8046162,9171-SERGEANT OF POLICE,MALE,2005-09-26,DELETED,2008-09-26,1424.0,NaN,NaN,NaN,NaN,"MAZUR, SANDY",JEFFERY,AARON,AARON,JEFFERY,M,NaN,NaN
2,2009-01-03,HONORABLE MENTION,WHITE,2009-01-04,1971.0,8046771,9171-SERGEANT OF POLICE,MALE,2005-09-26,DELETED,2009-01-03,1424.0,HR103338,NaN,NaN,NaN,"NIEVES, ROBERTO",JEFFERY,AARON,AARON,JEFFERY,M,NaN,NaN
3,2010-09-21,HONORABLE MENTION,WHITE,2010-09-27,1971.0,8067659,9171-SERGEANT OF POLICE,MALE,2005-09-26,DELETED,2010-09-21,1424.0,HS525635,NaN,NaN,NaN,"TUNSTALL, TRACY",JEFFERY,AARON,AARON,JEFFERY,M,NaN,NaN
4,2011-06-03,HONORABLE MENTION,WHITE,2011-06-10,1971.0,8074425,9171-SERGEANT OF POLICE,MALE,2005-09-26,DELETED,2011-06-03,1424.0,HT329393,NaN,NaN,NaN,"DAVIES, TRACY",JEFFERY,AARON,AARON,JEFFERY,M,NaN,NaN

In [4]:
df.columns

Index(['award_start_date', 'award_type', 'race', 'award_request_date',
       'birth_year', 'pps_award_detail_id', 'rank', 'gender', 'appointed_date',
       'current_award_status', 'award_end_date', 'current_star', 'tracking_no',
       'last_promotion_date', 'ceremony_date', 'resignation_date',
       'requester_full_name', 'first_name', 'last_name', 'last_name_NS',
       'first_name_NS', 'middle_initial', 'middle_initial2', 'suffix_name'],
      dtype='object')

In [7]:
id_cols = ["first_name", "last_name","first_name_NS", "last_name_NS", "appointed_date", "gender", "race", "rank"]
compare_cols = ["middle_initial", "middle_initial2", "resignation_date", "current_star", "birth_year"]
uid = 'awards_ID'

In [8]:
dfu = df[id_cols + compare_cols].drop_duplicates()
print(dfu.shape)
dfu.head()

(32980, 13)

,first_name,last_name,first_name_NS,last_name_NS,appointed_date,gender,race,rank,middle_initial,middle_initial2,resignation_date,current_star,birth_year
0,JEFFERY,AARON,JEFFERY,AARON,2005-09-26,MALE,WHITE,9171-SERGEANT OF POLICE,M,NaN,NaN,1424.0,1971.0
6,KARINA,AARON,KARINA,AARON,2005-09-26,FEMALE,HISPANIC,9165-PO AS DETECTIVE,NaN,NaN,NaN,20373.0,1980.0
12,SUSAN,AARUP,SUSAN,AARUP,2009-01-01,FEMALE,WHITE,0430-CLERK 3,J,NaN,2009-02-27,NaN,1969.0
21,ANTHONY,ABBATE,ANTHONY,ABBATE,1994-12-05,MALE,WHITE,9161-POLICE OFFICER,G,NaN,2009-12-22,NaN,1968.0
22,CARMEN,ABBATE,CARMEN,ABBATE,1954-10-16,MALE,WHITE,9171-SERGEANT OF POLICE,S,NaN,1993-06-04,NaN,1930.0

In [10]:
dfu[dfu['Middle.Initial2'].notnull()]

,First.Name,Last.Name,First.Name_NS,Last.Name_NS,Appointed.Date,Gender,Middle.Initial,Middle.Initial2,Resignation.Date,Current.Star,Birth.Year
11998,TONI,BRENNAN,TONI,BRENNAN,1982-05-03,FEMALE,A,J,1985-11-25,NaN,1960.0
18650,JUAN,CAUINIAN,JUAN,CAUINIAN,1999-11-29,MALE,G,A,NaN,7275.0,1966.0
37799,MAGNUM,FLORES,MAGNUM,FLORES,1995-12-04,MALE,M,Y,2017-01-15,NaN,1957.0
45610,RICHARD,GRAND,RICHARD,GRAND,1986-06-16,MALE,A,J,2011-11-15,NaN,1956.0
75680,ERIN,MARSH,ERIN,MARSH,1991-11-18,FEMALE,E,M,2017-01-15,NaN,1954.0
85687,PAUL,MOSELEY,PAUL,MOSELEY,1978-04-03,FEMALE,M,A,1982-06-05,NaN,1943.0
95980,BRIAN,PENNY,BRIAN,PENNY,1985-11-18,MALE,A,P,2010-11-29,NaN,1954.0
115896,GEORGE,SMITH,GEORGE,SMITH,1968-03-04,MALE,W,J,1981-02-20,NaN,1945.0
622531,MICHAEL,SPIZZIRRI,MICHAEL,SPIZZIRRI,2016-10-31,MALE,G,R,NaN,18265.0,1992.0

In [7]:
rd_df = remove_duplicates(dfu, id_cols).reset_index(drop=True)
print(rd_df.head())
rd_df.shape

  First.Name Last.Name First.Name_NS Last.Name_NS Appointed.Date Gender  \
0      AARON   ACEVEDO         AARON      ACEVEDO     2009-12-16   MALE
1      AARON     ALLEY         AARON        ALLEY     2016-06-27   MALE
2      AARON  ARMSTEAD         AARON     ARMSTEAD     2005-12-05   MALE
3      AARON     BURNS         AARON        BURNS     2013-06-03   MALE
4      AARON  CARRANZA         AARON     CARRANZA     2004-11-29   MALE

       Race Middle.Initial Middle.Initial2 Resignation.Date  Current.Star  \
0  HISPANIC              F             NaN              NaN        7792.0
1     BLACK              V             NaN              NaN        9516.0
2     BLACK              P             NaN              NaN       13768.0
3     BLACK              C             NaN              NaN        4534.0
4  HISPANIC              R             NaN              NaN        1140.0

   Birth.Year
0      1982.0
1      1985.0
2      1975.0
3      1983.0
4      1980.0

(32930, 12)

In [12]:
rd_df.insert(0, 'NID', rd_df.index + 1)

In [13]:
#out_df = df.merge(rd_df[[uid] + id_cols], on = id_cols, how='inner')
#out_df.head()

In [8]:
kd_df = keep_duplicates(dfu, id_cols)
print(kd_df.shape)
kd_df

(50, 12)

,First.Name,Last.Name,First.Name_NS,Last.Name_NS,Appointed.Date,Gender,Race,Middle.Initial,Middle.Initial2,Resignation.Date,Current.Star,Birth.Year
52252,ANN,HERR,ANN,HERR,2002-06-11,FEMALE,WHITE,M,NaN,2010-06-16,NaN,1966.0
52263,ANN,HERR,ANN,HERR,2002-06-11,FEMALE,WHITE,M,NaN,NaN,NaN,1966.0
61130,AUDREY,JURCZYKOWSKI,AUDREY,JURCZYKOWSKI,1999-05-10,FEMALE,WHITE,A,NaN,NaN,8280.0,1970.0
394495,AUDREY,JURCZYKOWSKI,AUDREY,JURCZYKOWSKI,1999-05-10,FEMALE,WHITE,NaN,NaN,NaN,NaN,1970.0
523,DAVID,ADCOCK,DAVID,ADCOCK,2002-09-30,MALE,WHITE,G,NaN,NaN,6673.0,1971.0
541,DAVID,ADCOCK,DAVID,ADCOCK,2002-09-30,MALE,WHITE,G,NaN,NaN,NaN,1971.0
101509,DAVID,RAMOS,DAVID,RAMOS,1994-07-05,MALE,HISPANIC,NaN,NaN,2009-10-21,NaN,1959.0
101515,DAVID,RAMOS,DAVID,RAMOS,1994-07-05,MALE,HISPANIC,R,NaN,NaN,8560.0,1969.0
136829,EDDIE,YOSHIMURA,EDDIE,YOSHIMURA,1986-11-17,MALE,API,M,NaN,NaN,2334.0,1957.0
136837,EDDIE,YOSHIMURA,EDDIE,YOSHIMURA,1986-11-17,MALE,API,M,NaN,NaN,NaN,NaN
128852,ERICK,VON KONDRAT,ERICK,VONKONDRAT,1999-05-10,MALE,WHITE,M,NaN,NaN,5693.0,1976.0
667181,ERICK,VON KONDRAT,ERICK,VONKONDRAT,1999-05-10,MALE,WHITE,NaN,NaN,NaN,NaN,1976.0
121012,HARRY,SWANSON,HARRY,SWANSON,1955-08-22,MALE,WHITE,M,NaN,1990-11-08,NaN,1927.0
121018,HARRY,SWANSON,HARRY,SWANSON,1955-08-22,MALE,WHITE,J,NaN,1983-09-16,NaN,1925.0
5536,JAMES,BANSLEY,JAMES,BANSLEY,2009-12-16,MALE,WHITE,A,NaN,NaN,10927.0,1983.0
5539,JAMES,BANSLEY,JAMES,BANSLEY,2009-12-16,MALE,WHITE,H,NaN,NaN,8791.0,1983.0
118898,JAMES,STEPHENS,JAMES,STEPHENS,1972-10-23,MALE,WHITE,M,NaN,2008-04-15,NaN,1947.0
118900,JAMES,STEPHENS,JAMES,STEPHENS,1972-10-23,MALE,WHITE,R,NaN,2006-09-30,NaN,1946.0
108535,JOHN,RYAN,JOHN,RYAN,1973-03-19,MALE,WHITE,W,NaN,2009-02-15,NaN,1949.0
108542,JOHN,RYAN,JOHN,RYAN,1973-03-19,MALE,WHITE,J,NaN,2001-04-16,NaN,1951.0
125365,JOSEPH,TRIPOLI,JOSEPH,TRIPOLI,1994-07-05,MALE,WHITE,A,NaN,2008-03-31,NaN,1961.0
649839,JOSEPH,TRIPOLI,JOSEPH,TRIPOLI,1994-07-05,MALE,WHITE,A,NaN,NaN,20571.0,1968.0
22885,KEVIN,CONNORS,KEVIN,CONNORS,1999-09-13,MALE,WHITE,M,NaN,NaN,1182.0,1975.0
22890,KEVIN,CONNORS,KEVIN,CONNORS,1999-09-13,MALE,WHITE,M,NaN,NaN,15151.0,1967.0
25031,MARQUITA,CROSBY,MARQUITA,CROSBY,2005-04-12,FEMALE,BLACK,C,NaN,2008-09-22,NaN,1976.0
25032,MARQUITA,CROSBY,MARQUITA,CROSBY,2005-04-12,FEMALE,BLACK,NaN,NaN,NaN,NaN,1976.0
31325,MICHAEL,DOUGHERTY,MICHAEL,DOUGHERTY,1994-09-06,MALE,WHITE,K,NaN,2005-10-22,NaN,1965.0
31329,MICHAEL,DOUGHERTY,MICHAEL,DOUGHERTY,1994-09-06,MALE,WHITE,P,NaN,NaN,363.0,1963.0
121162,MICHAEL,SWEENEY,MICHAEL,SWEENEY,1983-02-14,MALE,WHITE,J,NaN,2012-03-15,NaN,1953.0
121166,MICHAEL,SWEENEY,MICHAEL,SWEENEY,1983-02-14,MALE,WHITE,L,NaN,2012-05-15,NaN,1954.0
124716,RICARDO,TORRES,RICARDO,TORRES,2014-05-27,MALE,HISPANIC,J,NaN,2014-05-15,16756.0,1989.0
124717,RICARDO,TORRES,RICARDO,TORRES,2014-05-27,MALE,HISPANIC,NaN,NaN,NaN,16753.0,1983.0
104504,ROBERT,RIVERA,ROBERT,RIVERA,2016-08-29,MALE,HISPANIC,NaN,NaN,NaN,8590.0,1986.0
567795,ROBERT,RIVERA,ROBERT,RIVERA,2016-08-29,MALE,HISPANIC,M,NaN,NaN,8391.0,1989.0
116294,ROBERT,SMITH,ROBERT,SMITH,1996-12-02,MALE,WHITE,J,NaN,NaN,19314.0,1972.0
152169,ROBERT,SMITH,ROBERT,SMITH,1996-12-02,MALE,WHITE,M,NaN,NaN,20648.0,1969.0
72050,SILVIA,LOPEZ,SILVIA,LOPEZ,1988-12-05,FEMALE,HISPANIC,M,NaN,2016-12-16,NaN,1960.0
72063,SILVIA,LOPEZ,SILVIA,LOPEZ,1988-12-05,FEMALE,HISPANIC,M,NaN,NaN,NaN,NaN
87635,STEPHEN,MYTHEN,STEPHEN,MYTHEN,2000-09-11,MALE,WHITE,C,NaN,NaN,12719.0,1962.0
497815,STEPHEN,MYTHEN,STEPHEN,MYTHEN,2000-09-11,MALE,WHITE,NaN,NaN,NaN,NaN,1962.0
127424,THOMAS,VARGAS,THOMAS,VARGAS,2005-12-05,MALE,HISPANIC,NaN,NaN,NaN,10331.0,1981.0
127426,THOMAS,VARGAS,THOMAS,VARGAS,2005-12-05,MALE,HISPANIC,NaN,NaN,NaN,NaN,1981.0
76115,TIMOTHY,MARTIN,TIMOTHY,MARTIN,2000-12-18,MALE,WHITE,S,NaN,NaN,12928.0,1977.0
76127,TIMOTHY,MARTIN,TIMOTHY,MARTIN,2000-12-18,MALE,WHITE,E,NaN,2005-05-16,NaN,1965.0
89991,TIMOTHY,O BRIEN,TIMOTHY,OBRIEN,1995-01-03,MALE,WHITE,P,NaN,NaN,20899.0,1967.0
90026,TIMOTHY,O BRIEN,TIMOTHY,OBRIEN,1995-01-03,MALE,WHITE,J,NaN,NaN,21797.0,1967.0
77895,WILLIAM,MC CANN,WILLIAM,MCCANN,1958-02-16,MALE,WHITE,G,NaN,1993-07-16,NaN,1933.0
77899,WILLIAM,MC CANN,WILLIAM,MCCANN,1958-02-16,MALE,WHITE,L,NaN,1990-06-21,NaN,1928.0
57085,WILLIE,JACKSON,WILLIE,JACKSON,2006-03-01,MALE,BLACK,R,NaN,2012-09-30,NaN,1952.0
57086,WILLIE,JACKSON,WILLIE,JACKSON,2006-03-01,MALE,BLACK,R,NaN,NaN,NaN,1952.0

In [405]:
def resolve_conflicts(df, id_cols, resolve_cols, uid, starting_uid, , temp_fillna = -9999):
    out_df = pd.DataFrame()
    df = df.reset_index(drop=True)
    group_df = df.fillna(temp_fillna).groupby(id_cols, as_index=False)
    for key, group in group_df:
        group = group.reset_index(drop=True)
        conflicts = 0
        for col in compare_cols:
            non_nan = group[col].dropna()
            non_nan = non_nan[(non_nan != -999) & (non_nan != temp_fillna)]
            if len(non_nan.unique()) > 1:
                conflicts +=1
        if conflicts == 0:
            group.insert(0, temp_id, max_temp_id + 1)
            max_temp_id += 1
        else:
            group.insert(0, temp_i, max_temp_id + group.index + 1)
            max_temp_id += max(group.index) + 1
        out_df = out_df.append(group)
    out_df[out_df == temp_fillna] = np.nan
    return out_df

In [406]:
rc = resolve_conflicts(kd_df, id_cols,compare_cols, max(rd_df['NID']))

In [407]:
rc

,NID,First.Name,Last.Name,Appointed.Date,Gender,Middle.Initial,Resignation.Date,Current.Star
0,26095,ANN,HERR,2002-06-11,FEMALE,M,2010-06-16,-999
1,26095,ANN,HERR,2002-06-11,FEMALE,M,NaN,-999
0,26096,AUDREY,JURCZYKOWSKI,1999-05-10,FEMALE,NaN,NaN,-999
1,26096,AUDREY,JURCZYKOWSKI,1999-05-10,FEMALE,A,NaN,8280
0,26097,DAVID,ADCOCK,2002-09-30,MALE,G,NaN,6673
1,26097,DAVID,ADCOCK,2002-09-30,MALE,G,NaN,-999
0,26098,DAVID,RAMOS,1994-07-05,MALE,NaN,2009-10-21,-999
1,26098,DAVID,RAMOS,1994-07-05,MALE,R,NaN,8560
0,26099,EDDIE,YOSHIMURA,1986-11-17,MALE,M,NaN,2334
1,26099,EDDIE,YOSHIMURA,1986-11-17,MALE,M,NaN,-999
0,26100,ERICK,VONKONDRAT,1999-05-10,MALE,M,NaN,5693
1,26100,ERICK,VONKONDRAT,1999-05-10,MALE,NaN,NaN,-999
0,26101,JAMES,BANSLEY,2009-12-16,MALE,A,NaN,10927
1,26102,JAMES,BANSLEY,2009-12-16,MALE,H,NaN,8791
0,26103,JOHN,RYAN,1973-03-19,MALE,W,2009-02-15,-999
1,26104,JOHN,RYAN,1973-03-19,MALE,J,2001-04-16,-999
0,26105,JOSEPH,TRIPOLI,1994-07-05,MALE,A,NaN,20571
1,26105,JOSEPH,TRIPOLI,1994-07-05,MALE,A,2008-03-31,-999
0,26106,KEVIN,CONNORS,1999-09-13,MALE,M,NaN,1182
1,26107,KEVIN,CONNORS,1999-09-13,MALE,M,NaN,15151
0,26108,KEVIN,SMITH,1999-05-10,MALE,D,2015-11-24,-999
1,26109,KEVIN,SMITH,1999-05-10,MALE,S,2004-01-11,-999
0,26110,MICHAEL,DOUGHERTY,1994-09-06,MALE,K,2005-10-22,-999
1,26111,MICHAEL,DOUGHERTY,1994-09-06,MALE,P,NaN,363
0,26112,MICHAEL,SWEENEY,1983-02-14,MALE,J,2012-03-15,-999
1,26113,MICHAEL,SWEENEY,1983-02-14,MALE,L,2012-05-15,-999
0,26114,RICARDO,TORRES,2014-05-27,MALE,J,2014-05-15,16756
1,26115,RICARDO,TORRES,2014-05-27,MALE,NaN,NaN,16753
0,26116,ROBERT,SMITH,1996-12-02,MALE,M,NaN,20648
1,26117,ROBERT,SMITH,1996-12-02,MALE,J,NaN,19314
0,26118,SILVIA,LOPEZ,1988-12-05,FEMALE,M,2016-12-16,-999
1,26118,SILVIA,LOPEZ,1988-12-05,FEMALE,M,NaN,-999
0,26119,STEPHEN,MYTHEN,2000-09-11,MALE,NaN,NaN,-999
1,26119,STEPHEN,MYTHEN,2000-09-11,MALE,C,NaN,12719
0,26120,THOMAS,MCGREAL,1977-01-03,MALE,F,2006-05-31,-999
1,26120,THOMAS,MCGREAL,1977-01-03,MALE,F,NaN,-999
0,26121,TIMOTHY,MARTIN,2000-12-18,MALE,S,NaN,12928
1,26122,TIMOTHY,MARTIN,2000-12-18,MALE,E,2005-05-16,-999
0,26123,TIMOTHY,OBRIEN,1995-01-03,MALE,P,NaN,20899
1,26124,TIMOTHY,OBRIEN,1995-01-03,MALE,J,NaN,21797

In [408]:
df2 = df.merge(rd_df.append(rc), on=id_cols + compare_cols, how='left')

In [409]:
assert (df2[df2['NID'].isnull()].shape[0] == 0), "Uh-oh, some rows do not have IDs"

In [410]:
rc[(rc['First.Name'] == 'DAVID') & (rc['Last.Name'] == 'ADCOCK') & (rc['Appointed.Date'] == '2002-09-30')]

,NID,First.Name,Last.Name,Appointed.Date,Gender,Middle.Initial,Resignation.Date,Current.Star
0,26097,DAVID,ADCOCK,2002-09-30,MALE,G,NaN,6673
1,26097,DAVID,ADCOCK,2002-09-30,MALE,G,NaN,-999

In [411]:
print(tdf.shape)
tdf[id_cols + compare_cols].drop_duplicates()

(0, 22)

Empty DataFrame
Columns: [First.Name, Last.Name, Appointed.Date, Gender, Middle.Initial, Resignation.Date, Current.Star]
Index: []

In [395]:
rc

,NID,First.Name,Last.Name,Appointed.Date,Gender,Middle.Initial,Resignation.Date,Current.Star
0,26095,ANN,HERR,2002-06-11,FEMALE,M,2010-06-16,-999
1,26095,ANN,HERR,2002-06-11,FEMALE,M,NaN,-999
2,26097,AUDREY,JURCZYKOWSKI,1999-05-10,FEMALE,NaN,NaN,-999
3,26097,AUDREY,JURCZYKOWSKI,1999-05-10,FEMALE,A,NaN,8280
4,26099,DAVID,ADCOCK,2002-09-30,MALE,G,NaN,6673
5,26099,DAVID,ADCOCK,2002-09-30,MALE,G,NaN,-999
6,26101,DAVID,RAMOS,1994-07-05,MALE,NaN,2009-10-21,-999
7,26101,DAVID,RAMOS,1994-07-05,MALE,R,NaN,8560
8,26103,EDDIE,YOSHIMURA,1986-11-17,MALE,M,NaN,2334
9,26103,EDDIE,YOSHIMURA,1986-11-17,MALE,M,NaN,-999
10,26105,ERICK,VONKONDRAT,1999-05-10,MALE,M,NaN,5693
11,26105,ERICK,VONKONDRAT,1999-05-10,MALE,NaN,NaN,-999
12,26107,JAMES,BANSLEY,2009-12-16,MALE,A,NaN,10927
13,26108,JAMES,BANSLEY,2009-12-16,MALE,H,NaN,8791
14,26109,JOHN,RYAN,1973-03-19,MALE,W,2009-02-15,-999
15,26110,JOHN,RYAN,1973-03-19,MALE,J,2001-04-16,-999
16,26111,JOSEPH,TRIPOLI,1994-07-05,MALE,A,NaN,20571
17,26111,JOSEPH,TRIPOLI,1994-07-05,MALE,A,2008-03-31,-999
18,26113,KEVIN,CONNORS,1999-09-13,MALE,M,NaN,1182
19,26114,KEVIN,CONNORS,1999-09-13,MALE,M,NaN,15151
20,26115,KEVIN,SMITH,1999-05-10,MALE,D,2015-11-24,-999
21,26116,KEVIN,SMITH,1999-05-10,MALE,S,2004-01-11,-999
22,26117,MICHAEL,DOUGHERTY,1994-09-06,MALE,K,2005-10-22,-999
23,26118,MICHAEL,DOUGHERTY,1994-09-06,MALE,P,NaN,363
24,26119,MICHAEL,SWEENEY,1983-02-14,MALE,J,2012-03-15,-999
25,26120,MICHAEL,SWEENEY,1983-02-14,MALE,L,2012-05-15,-999
26,26121,RICARDO,TORRES,2014-05-27,MALE,J,2014-05-15,16756
27,26122,RICARDO,TORRES,2014-05-27,MALE,NaN,NaN,16753
28,26123,ROBERT,SMITH,1996-12-02,MALE,M,NaN,20648
29,26124,ROBERT,SMITH,1996-12-02,MALE,J,NaN,19314
30,26125,SILVIA,LOPEZ,1988-12-05,FEMALE,M,2016-12-16,-999
31,26125,SILVIA,LOPEZ,1988-12-05,FEMALE,M,NaN,-999
32,26127,STEPHEN,MYTHEN,2000-09-11,MALE,NaN,NaN,-999
33,26127,STEPHEN,MYTHEN,2000-09-11,MALE,C,NaN,12719
34,26129,THOMAS,MCGREAL,1977-01-03,MALE,F,2006-05-31,-999
35,26129,THOMAS,MCGREAL,1977-01-03,MALE,F,NaN,-999
36,26131,TIMOTHY,MARTIN,2000-12-18,MALE,S,NaN,12928
37,26132,TIMOTHY,MARTIN,2000-12-18,MALE,E,2005-05-16,-999
38,26133,TIMOTHY,OBRIEN,1995-01-03,MALE,P,NaN,20899
39,26134,TIMOTHY,OBRIEN,1995-01-03,MALE,J,NaN,21797

In [412]:
df2[df2['NID'].isnull()]

Empty DataFrame
Columns: [Gender, Race, Appointed.Date, Award.Type, Incident.Start.Date, Current.Award.Status, Award.Request.Date, Incident.End.Date, Resignation.Date, Award.ID, Current.Star, Rank, Birth.Year, Last.Promotion.Date, Requester.Full.Name, Ceremony.Date, Tracking.NO, Last.Name, Suffix.Name, First.Name, Middle.Initial, NID]
Index: []

[0 rows x 22 columns]

In [413]:
nids = sorted(df2['NID'].unique())

In [415]:
assert nids[-1] == len(nids), print ('hey! got the wrong nids')

In [416]:
len(nids)

26124

In [417]:
max(nids)

26124

In [418]:
nids[-1]

26124

In [6]:
df[(df['First.Name']=='BRITTNEY') & (df['Last.Name']=='BLACKWELL')]

,Requester.Full.Name,Birth.Year,Current.Star,Gender,Ceremony.Date,Appointed.Date,Incident.Start.Date,Race,Incident.End.Date,Resignation.Date,Rank,Tracking.NO,Award.ID,Current.Award.Status,Award.Type,Last.Promotion.Date,Award.Request.Date,Last.Name,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name
9169,"CONLEY, MARY",1985.0,NaN,FEMALE,NaN,2010-04-16,2013-10-21,BLACK,2013-10-21,NaN,9161-POLICE OFFICER,NaN,8092108,DELETED,HONORABLE MENTION,NaN,2013-10-25,BLACKWELL,BRITTNEY,J,NaN,NaN
9170,"BROWN, CYNTHIA",1985.0,NaN,FEMALE,NaN,2010-04-16,2013-12-21,BLACK,2013-12-21,NaN,9161-POLICE OFFICER,NaN,8093127,DELETED,HONORABLE MENTION,NaN,2013-12-23,BLACKWELL,BRITTNEY,J,NaN,NaN
191790,"THOMPSON, LISA",1985.0,NaN,FEMALE,NaN,2010-04-16,2017-02-12,BLACK,2017-02-12,NaN,9161-POLICE OFFICER,NaN,8112822,FINAL,HONORABLE MENTION,NaN,2017-02-24,BLACKWELL,BRITTNEY,J,NaN,NaN