In [1]:
import numpy as np 
import pandas as pd
import time
import re

In [2]:
path = '/users/thudson/Documents/Dropbox/chicago-police-data'
output_path = path + '/import/output'
context_path = path + '/context_data/Raw personnel data'

In [3]:
## context files for officer names
context_files = ['/Kalven 16-1105 All Sworn Employees (1).xlsx',
                 '/P050032 All Members Rank.xlsx',
                 '/SWORN -FAN 19 JUL 2016 P049085.xlsx']

## files that contain officer names as either accused or witnesses
## INCLUDE INVESTIGATORS?
output_files = ['/complaints-cpd-2016-dec_copy_20170112/MAINFRAME_COMPLAINTS_REVISED_30NOV2016.csv',
                '/complaints-cpd-2016-dec_copy_20170112/NEW_WITNESS_FILE_NOV_29_2016_-_no_emp_number.csv',
                '/complaints-cpd-2016-jun_copy_20170112/P046957_-_report_2_-_identified_accused_xi-unlocked.csv',
                '/complaints-cpd-2016-jun_copy_20170112/P046957_-_report_3_-_police_officer_witness_data_xi-unlocked.csv',
                '/complaints-cpd-2016-nov_copy_20170112/p046957_-_report_2_-_identified_accused.csv',
                '/complaints-cpd-2016-nov_copy_20170112/p046957_-_report_3_-_police_officer_witness_data_xi.csv',
                '/complaints-cpd-2016-oct_copy_20170112/CR_AllRecords.csv',
                '/complaints-ipra-2016-apr_copy_20170112/All_complaints_during_2012-2016YTD.csv',
                '/shootings-cpd-feb2016_copy_20170112/CPD_Reporting_Party(1).csv',
                '/shootings-cpd-feb2016_copy_20170112/crms_-_05j_cpd_witness,_reporting_party,_victim(1).csv',
                '/shootings-cpd-feb2016_copy_20170112/crms_-_05j_Officer(1).csv',
                '/shootings-cpd-feb2016_copy_20170112/Involved_Member(1).csv',
                '/shootings-cpd-feb2016_copy_20170112/stars-for_involved_members(1).csv',
                '/shootings-ipra-may2016_copy_20170112/IPRA_Shootings_Data_qry_II_217_Data163.csv',
                '/shootings-ipra-may2016_copy_20170112/qry_II_217_Incid.csv',
                '/shootings-ipra-may2016_copy_20170112/qry_II_217_Parties.csv',
                '/TRRs/Officers.csv',
                '/TRRs/Statuses_Other_Members.csv',
                '/TRRs/Star_No.csv',
                '/complaints-merged-2015_copy_20170112/august_2015/foia_14-5509_-_birth_year_of_accused.csv',
                '/complaints-merged-2015_copy_20170112/march_2015/Report_2_-_Identified_Accused/foia_14-5509_-_report_2.csv',
                '/complaints-merged-2015_copy_20170112/march_2015/Report_3_-_Police_Witnesses/foia_14-5509_-_report_3.csv',
                '/complaints-merged-2015_copy_20170112/september_2015/foia_15-4790_-_report 3_-_police_officer_witness_data.csv',
                '/complaints-merged-2015_copy_20170112/september_2015/foia_15-4790_-_report_2_-_identified_accused_xi.csv'
               ]

In [4]:
list_of_context_dfs = []

In [6]:
for file in context_files:
    context_df = pd.read_excel(context_path+file)
    try:
        list_of_context_dfs.append(context_df.loc[:,['LAST_NME','FIRST_NME']])
    except:
        ## index values cut off notes at bottom of file
        list_of_context_dfs.append(context_df.loc[0:31932,['Last Name','First Name']])

In [12]:
for df in list_of_context_dfs:
    print(df.iloc[0:5,])

NameError: name 'list_of_context_dfs' is not defined

In [7]:
list_of_output_dfs = []

In [8]:
for i,file in enumerate(output_files):
    output_df = pd.read_csv(output_path+file)
    if i in (0,2,4,20,23):
        list_of_output_dfs.append(output_df.Accused) 
    elif i in (1,12,16,17,18):
        list_of_output_dfs.append(output_df.loc[:,['Officer_Last_Name','Officer_First_Name']])
    elif i in (3,5,21,22): 
        list_of_output_dfs.append(output_df.Officer_Witness)
    elif i == 6:
        list_of_output_dfs.append(output_df.Officer_Name)
    elif i == 7:
        list_of_output_dfs.append(output_df.loc[:,["Accused_First_Name",'Accused_Last_Name',
                                           'Involved_Officer_First_Name','Involved_Officer_Last_Name']])
    elif i == 8:
        list_of_output_dfs.append(output_df.Officer_Reporting_Party)
    elif i == 9:
        list_of_output_dfs.append(output_df[output_df['CPD_or_Not']=='CPD Sworn'].Values)
    elif i == 10:
        list_of_output_dfs.append(output_df.Officer)
    elif i == 11:
        list_of_output_dfs.append(output_df.Involved_Officer)
    elif i in (13,15):
        list_of_output_dfs.append(output_df.loc[:,["Accused_First_Name",'Accused_Last_Name',
                                           'Involved_Party_First_Name','Involved_Party_Last_Name']])
    elif i == 14:
        list_of_output_dfs.append(output_df.loc[:,["Accused_First_Name",'Accused_Last_Name']])
    elif i == 19:
        list_of_output_dfs.append(output_df.Accused_Full_Name)

/Users/thudson/anaconda/envs/civis-model/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,8,11,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/thudson/anaconda/envs/civis-model/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/thudson/anaconda/envs/civis-model/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/thudson/anaconda/envs/civis-model/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
for df in list_of_output_dfs:
    print(df.iloc[0:5,])

0      FRANK LYNCH
1     PETER PARISI
2      JAMES AHERN
3       JOHN HAUGH
4    ROBERT BROWNE
Name: Accused, dtype: object
  Officer_Last_Name Officer_First_Name
0               NaN                NaN
1         BURZINSKI             WALTER
2            SHAFER            CHARLES
3               NaN                NaN
4               NaN                NaN
0    GONZALES, ROBIN
1       BECKER, JOHN
2      MARKHAM, SEAN
3        WELLS, OTIS
4    MCCLAY, CHARLES
Name: Accused, dtype: object
0            HARRIS, KAL
1    BUKOWSKIBUS, GEORGE
2      HEINICHEN, WALTER
3       LAMEKA, MARGARET
4         SCALES, MONICA
Name: Officer_Witness, dtype: object
0       BARRON, WILLIAM
1    C0NNOLLY, KIMBERLY
2           KEENE, JOHN
3         SLAVIN, SCOTT
4     MARTINEZ, ANTONIO
Name: Accused, dtype: object
0    DOLCIMASCOLO, NED
1       BRYANT, YVONNE
2       CARROLL, RONDY
3      CASTILLO, DIEGO
4      RODIRGUEZ, GINA
Name: Officer_Witness, dtype: object
0    ABBATE, ANTHONY G
1    ABBATE, ANTHONY G
2     ABBATE, CARMEL G
3     ABBATE, CARMEL G
4     ABBATE, CARMEL G
Name: Officer_Name, dtype: object
  Accused_First_Name Accused_Last_Name Involved_Officer_First_Name  \
0                NaN               NaN                    CABRERA
1                NaN               NaN                   CHRISTOPH
2                NaN               NaN                      DENNIS
3                NaN               NaN                   CHRISTIAN
4                NaN               NaN                   CHRISTOPH

  Involved_Officer_Last_Name
0                   EVARUSTO
1                       KAPA
2                    O BRIEN
3                     ALICEA
4                       KAPA
0       STAPLES, MELISSA
1    FLETCHER, CHRISTOPH
2        ALEXANDER, DANA
3     MC NAUGHTON, DAVID
4           WALLER, FRED
Name: Officer_Reporting_Party, dtype: object
4        CHRISTENSEN, AMY
5         LAWSON, JEFFREY
6           MASON, HAROLD
7     WILLIAMS, CHRISTOPH
10              TOTH, LOU
Name: Values, dtype: object
0          YANEZ, JUAN
1       CHATYS, MARTIN
2     CASTILLO, DANIEL
3           FRY, KEVIN
4    HERNANDEZ, GEORGE
Name: Officer, dtype: object
0           LEJA, JACEK
1       RAETHER, JUSTIN
2    RAMEY, CHRISTOPHER
3          SEHNER, ERIC
4      LESCH, NICHOLAUS
Name: Involved_Officer, dtype: object
  Officer_Last_Name Officer_First_Name
0              DIAZ             JOSHUA
1        WESSELHOFF               MARK
2          GREGOIRE               JOHN
3           O NEILL             EDWARD
4        SANCHEZ JR            ORLANDO
  Accused_First_Name Accused_Last_Name Involved_Party_First_Name  \
0                NaN               NaN                      DANA
1                NaN               NaN                   ARNULFO
2                NaN               NaN                     DAVID
3                NaN               NaN                   CHARLES
4                NaN               NaN                   CHARLES

  Involved_Party_Last_Name
0                ALEXANDER
1                    GOMEZ
2                 PASILLAS
3                    SMITH
4                    SMITH
  Accused_First_Name Accused_Last_Name
0                NaN               NaN
1                NaN               NaN
2                NaN               NaN
3                NaN               NaN
4                NaN               NaN
  Accused_First_Name Accused_Last_Name Involved_Party_First_Name  \
0                NaN               NaN                    CARLOS
1                NaN               NaN                     VICKY
2                NaN               NaN                     VINCE
3                NaN               NaN                   LAQUINN
4                NaN               NaN                    CARLOS

  Involved_Party_Last_Name
0                    VELEZ
1                    PEREZ
2                   MACIAS
3                   WALKER
4                    VELEZ
  Officer_Last_Name Officer_First_Name
0          DALCASON               JOHN
1       THORNTON JR               JOHN
2             SHAAR             KHALED
3           ORLANDO            MICHAEL
4           JACKSON            MATTHEW
  Officer_Last_Name Officer_First_Name
0         VELAZQUEZ             ANGELO
1              RIOS               JUAN
2             ELMER            RICHARD
3             REYES              ANDRE
4              RIOS               JUAN
  Officer_Last_Name Officer_First_Name
0         VELAZQUEZ             ANGELO
1             REYES              ANDRE
2             LIMON              MARIO
3           HERRERA            ANTONIO
4       MILOVANOVIC              DEJAN
0          AARON, JEFFERY
1           AARON, KARINA
2    ABDELHADI, ABDALMAHD
3       ABDELMAJEID, AZIZ
4          ABRAHAM, NANCY
Name: Accused_Full_Name, dtype: object
0       BALLARD, PERRY
1    CANDELARIO, CESAR
2      BENNETT, JOSEPH
3       JONES, EARNEST
4         CRUZ, ADABEL
Name: Accused, dtype: object
0       GOFF, GERALD
1    MULDER, RICHARD
2    WATKINS, HILLEL
3      BROWN, TANGIE
4      DIXON, MARLON
Name: Officer_Witness, dtype: object
0     KERNAN, WILLIAM
1         WARD, ANGEL
2        LOONEY, JOHN
3     ALCAZAR, VICTOR
4    MUHAMMAD, KHALIL
Name: Officer_Witness, dtype: object
0    MOSTOWSKI, RICHARD
1      CARIBOU, JEFFREY
2        LANDRUM, CRAIG
3          COUCH, JAMES
4        GALAN, ARMANDO
Name: Accused, dtype: object

In [2]:
import argparse
import json
import os
from rosette.api import API, NameSimilarityParameters

In [11]:
def run(name1, name2, key=os.environ['ROSETTE_API_KEY'], altUrl='https://api.rosette.com/rest/v1/'):
    # Create an API instance
    api = API(user_key=key, service_url=altUrl)

    matched_name_data1 = name1
    matched_name_data2 = name2
    params = NameSimilarityParameters()
    params["name1"] = {"text": matched_name_data1, "language": "eng", "entityType": "PERSON"}
    params["name2"] = {"text": matched_name_data2, "language": "eng", "entityType": "PERSON"}
    return api.name_similarity(params)

name1 = 'MOSTOWSKI, RICHARD'
name2 = 'MULDER, RICHARD'
result = run(name1=name1 ,name2=name2)

##print(json.dumps(result, indent=2, ensure_ascii=False, sort_keys=True).encode("utf8"))
print('The similarity between "{}" and "{}" is: {}'.format(name1,name2,round(result['score'],3)))

The similarity between "MOSTOWSKI, RICHARD" and "MULDER, RICHARD" is: 0.418