In [182]:
import pandas as pd
from AUIDFunctions import *
uh = pd.read_csv("input/unit-history_demo.csv")
am = pd.read_csv("input/all-members_demo.csv")

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [183]:
def intersect(a, b):
     return list(set(a) & set(b))
def setdiff(a,b):
    return list(set(a) - set(b))
def union(a,b):
    return list(set(a) | set(b))

In [184]:
TakeFirst4 = lambda x: x[:4]
BY_to_CA = lambda x: 2016 - x
def AddColumns(df, add_cols = ["F4FN", "F4LN", "Current.Age", "CA_BY"]):
    if "F4FN" in add_cols and "First.Name" in df.columns:
            df['F4FN'] = df['First.Name'].map(TakeFirst4)
    if "F4LN" in add_cols and 'Last.Name' in df.columns:
            df['F4LN'] = df['Last.Name'].map(TakeFirst4)
    if "Current.Age" in add_cols and "Current.Age" in df.columns:
        df['Current.Age.p1'] = df['Current.Age']
        df['Current.Age.m1'] = df['Current.Age']
    if "CA_BY" in add_cols and "Birth.Year" in df.columns:
        by_to_ca = lambda x: 2016 - x
        df['Current.Age.p1'] = df['Birth.Year'].map(BY_to_CA)
        df['Current.Age.m1'] = df['Birth.Year'].map(BY_to_CA) - 1  
    return df

  Appointed.Date  Gender                Rank  Birth.Year      Race  \
0     2005-09-26    MALE  SERGEANT OF POLICE        1971     WHITE
1     2005-09-26  FEMALE      POLICE OFFICER        1980  HISPANIC
2     1970-06-15    MALE      POLICE OFFICER        1942     WHITE
3     1994-12-05    MALE      POLICE OFFICER        1968     WHITE
4     1969-01-06    MALE     PO AS DETECTIVE        1942     WHITE

  Last.Promotion.Date Last.Name Suffix.Name First.Name Middle.Initial  TID  \
0          2016-06-01     AARON         NaN    JEFFERY              M    1
1          2005-09-26     AARON         NaN     KARINA            NaN    2
2          1970-06-15     ABATE         NaN     DANIEL              P    3
3          1994-12-05    ABBATE         NaN    ANTHONY              G    4
4          1969-01-06    ABBATE         NaN     CARMEL              G    5

   F4FN  F4LN  Current.Age.p1  Current.Age.m1
0  JEFF  AARO              45              44
1  KARI  AARO              36              35
2  DANI  ABAT              74              73
3  ANTH  ABBA              48              47
4  CARM  ABBA              74              73

In [185]:
amd = amm.dropna(axis=1, how='all')
uhd = uh.dropna(axis=1, how='all')
amd = AddColumns(amd)
uhd = AddColumns(uhd)
print(amd.columns)
print(uhd.columns)
cols = [col for col in amd.columns if col in uhd.columns]
amdm = amd[cols].rename(columns = {'TID' : 'ID1'})
uhdm = uhd[cols].rename(columns = {'TID' : 'ID2'})
print(cols)

Index(['TID', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
       'Appointed.Date', 'Gender', 'Race', 'Birth.Year', 'F4FN', 'F4LN',
       'Current.Age.p1', 'Current.Age.m1'],
      dtype='object')
Index(['TID', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
       'Appointed.Date', 'Current.Age', 'Gender', 'Race', 'Star1', 'Star2',
       'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8', 'Star9', 'Star10',
       'CurrentUnit', 'F4FN', 'F4LN', 'Current.Age.p1', 'Current.Age.m1'],
      dtype='object')
['TID', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'F4FN', 'F4LN', 'Current.Age.p1', 'Current.Age.m1']

In [186]:
mc = ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"]
amdmp = RemoveDuplicates(amdm)
uhdmp = RemoveDuplicates(uhdm)
t1 = amdmp.merge(uhdmp, on = mc, how ='inner')

mc = ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"]
amdmp = RemoveDuplicates(amdm)
uhdmp = RemoveDuplicates(uhdm)
t2 = amdmp.merge(uhdmp, on = mc, how ='inner')

print(intersect(t1['ID2'], t2['ID2']))
print(intersect(t1['ID1'], t2['ID1']))
print(t1.shape)
print(t2.shape)

[]
[]
(1312, 16)
(4289, 16)

In [189]:
def LoopMerge(df1, df2, on_list, keep_columns = ['ID1', 'ID2']):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    # Generate on list?
    for mc in on_list:
        df1t = RemoveDuplicates(df1[keep_columns[:1] + mc], mc)
        df2t = RemoveDuplicates(df2[keep_columns[1:] + mc], mc)
        dfmt = df1t.merge(df2t, on=mc, how='inner')
        if dfmt.shape[0] > 0:
            print('******')
            print(mc)
            print(dfmt.shape[0])
            dfmt['Match'] = '-'.join(mc)
            dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
            df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
            df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]

    print(df1.shape[0])
    print(df2.shape[0])
    return (dfm.reset_index(drop=True), df1, df2)

In [190]:
m = LoopMerge(amdm, uhdm, on_list = [
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"]
])

******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
4289
******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
1312
******
['F4FN', 'F4LN', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
1
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
19949
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
6011
******
['F4FN', 'F4LN', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
3
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Middle.Initial', 'Appointed.Date', 'Gender', 'Race']
1
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race']
2
******
['First.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
4
******
['First.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
7
******
['First.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
3
346
15

In [167]:

#def ReMerge(df, mdf,id_col, match = False):
#    if match:
#        return df.merge(mdf, on = id_col)
#    else:
#        return df.merge(mdf[:2], on = id_col)

         ID1    ID2                                         Matched.On
0          2      2  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
1         16     16  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
2         17     17  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
3         32     31  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
4         33     32  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
5         34     33  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
6         41     39  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
7         47     45  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
8         50     47  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
9         52     49  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
10        53     50  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
11        55     52  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
12        58     55  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
13        61     58  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
14        63     60  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
15        80     77  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
16        94     91  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
17       108    105  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
18       115    112  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
19       119    116  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
20       121    118  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
21       122    119  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
22       129    126  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
23       141    138  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
24       153    150  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
25       156    153  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
26       163    160  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
27       168    165  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
28       174    171  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
29       175    172  First.Name-Last.Name-Middle.Initial-Suffix.Nam...
...      ...    ...                                                ...
31551  31854  31526  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31552  31869  31541  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31553  31879  31551  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31554  31881  31553  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31555  31892  31564  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31556  31909  31580  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31557  31910  31581  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31558  31912  31583  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31559  31914  31585  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31560  31915  31586  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31561  25042  24779  First.Name-Last.Name-Suffix.Name-Middle.Initia...
31562   6820   6741  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31563  21457  21233  First.Name-Last.Name-Suffix.Name-Appointed.Dat...
31564  10931  24382  First.Name-Middle.Initial-Suffix.Name-Appointe...
31565  11134  10252  First.Name-Middle.Initial-Suffix.Name-Appointe...
31566  12588  12448  First.Name-Middle.Initial-Suffix.Name-Appointe...
31567  22646  29679  First.Name-Middle.Initial-Suffix.Name-Appointe...
31568  29655  21141  First.Name-Middle.Initial-Suffix.Name-Appointe...
31569   1078  17334  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31570   7820  30663  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31571  14849  29186  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31572  17509   8962  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31573  18547   8245  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31574  18636  14902  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31575  21302  21078  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31576  21564  21342  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31577  26023  11459  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31578   3881  29704  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31579  10024  25513  First.Name-Suffix.Name-Appointed.Date-Gender-R...
31580  29335   2930  First.Name-Suffix.Name-Appointed.Date-Gender-R...

[31581 rows x 3 columns]

In [173]:
m[1].sort_values('Appointed.Date')

,ID1,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Gender,Race,Current.Age.p1,Current.Age.m1
1405,1406,ROBERT,BARRETT,J,NaN,1950-06-03,MALE,WHITE,90,89
1404,1405,ROBERT,BARRETT,E,NaN,1950-06-03,MALE,WHITE,90,89
641,642,ROBERT,ANDERSON,M,NaN,1970-01-19,MALE,WHITE,68,67
640,641,ROBERT,ANDERSON,J,NaN,1970-01-19,MALE,WHITE,68,67
29842,29843,ERICK,VONKONDRAT,M,NaN,1999-05-10,MALE,WHITE,40,39
14016,14017,AUDREY,JURCZYKOWSKI,A,NaN,1999-05-10,FEMALE,WHITE,46,45
20291,20292,STEPHEN,MYTHEN,C,NaN,2000-09-11,MALE,WHITE,54,53
1258,1259,JAMES,BANSLEY,A,NaN,2009-12-16,MALE,WHITE,33,32
1259,1260,JAMES,BANSLEY,H,NaN,2009-12-16,MALE,WHITE,33,32
24471,24472,CHRISTOPHER,RODRIGUEZ,N,NaN,2014-11-24,MALE,HISPANIC,30,29
15531,15532,ANDREW,KUTELLA,K,NaN,2016-02-29,MALE,WHITE,32,31
12742,12743,TIFFANY,HUBBARD,T,NaN,2016-02-29,FEMALE,BLACK,40,39
12813,12814,MICHAEL,HUGHES,D,NaN,2016-02-29,MALE,WHITE,30,29
16299,16300,STACEY,LIBOY,E,NaN,2016-02-29,FEMALE,HISPANIC,38,37
12964,12965,SARA,IMBURGIA,S,NaN,2016-02-29,FEMALE,WHITE,22,21
13596,13597,JEFFREY,JOHNSON,R,NaN,2016-02-29,MALE,BLACK,34,33
13697,13698,STACEY,JOHNSON,A,NaN,2016-02-29,FEMALE,WHITE,35,34
16203,16204,PATRICK,LEWANDOWSKI,E,NaN,2016-02-29,MALE,WHITE,25,24
14119,14120,AMBER,KANDEL,A,NaN,2016-02-29,FEMALE,BLACK,28,27
14863,14864,NICHOLAS,KLEIN,R,NaN,2016-02-29,MALE,WHITE,23,22
16112,16113,NATALI,LEON,E,NaN,2016-02-29,FEMALE,HISPANIC,31,30
16010,16011,LEMOND,LEE,D,NaN,2016-02-29,MALE,BLACK,36,35
15451,15452,EDYTA,KULIK,NaN,NaN,2016-02-29,FEMALE,WHITE,30,29
15965,15966,LOUIS,LEATHERS,J,NaN,2016-02-29,MALE,BLACK,27,26
15794,15795,LANCE,LARKINS,P,NaN,2016-02-29,MALE,BLACK,29,28
15703,15704,JONATHAN,LANDINGHAM,L,NaN,2016-02-29,MALE,BLACK,33,32
31920,31921,DAWID,ZYGMUNT,NaN,NaN,2016-02-29,MALE,WHITE,26,25
15372,15373,NIKA,KRZYZYK,M,NaN,2016-02-29,FEMALE,API,25,24
16611,16612,KIMBERLY,LOPEZ,V,NaN,2016-02-29,FEMALE,HISPANIC,29,28
8010,8011,CHRISTOPHER,ENTER,J,NaN,2016-02-29,MALE,WHITE,24,23
...,...,...,...,...,...,...,...,...,...,...
1254,1255,JASON,BANNING,J,NaN,2016-06-27,MALE,WHITE,32,31
23373,23374,DESTINY,QUINTELLO,K,NaN,2016-06-27,FEMALE,API,23,22
23743,23744,ROBERT,REGAL,M,NaN,2016-06-27,MALE,HISPANIC,21,20
23827,23828,DANIEL,RENO,M,NaN,2016-06-27,MALE,WHITE,22,21
23830,23831,ERICK,RENTERIA,NaN,NaN,2016-06-27,MALE,HISPANIC,28,27
807,808,JANNET,ARELLANO,NaN,NaN,2016-06-27,FEMALE,HISPANIC,33,32
24197,24198,MALGORZATA,RIVERA,,NaN,2016-06-27,FEMALE,WHITE,35,34
24216,24217,RICARDO,RIVERA,F,NaN,2016-06-27,MALE,HISPANIC,27,26
23342,23343,JOHN,QUINN,W,NaN,2016-06-27,MALE,WHITE,27,26
803,804,NICHOLAS,ARDOLINO,F,NaN,2016-06-27,MALE,WHITE,25,24
21295,21296,DANIEL,ODISHO,C,NaN,2016-06-27,MALE,HISPANIC,28,27
21267,21268,LUIS,OCHOA,M,NaN,2016-06-27,MALE,HISPANIC,25,24
17660,17661,JOSE,MARTINEZ,A,NaN,2016-06-27,MALE,HISPANIC,30,29
18634,18635,AARON,MCCLELLAND,D,NaN,2016-06-27,MALE,BLACK,26,25
18856,18857,DEVIN,MELECIO,,NaN,2016-06-27,MALE,HISPANIC,28,27
3259,3260,JASON,BULKLEY,B,NaN,2016-06-27,MALE,WHITE,30,29
3097,3098,JOHN,BROWNRIDGE,M,NaN,2016-06-27,MALE,BLACK,27,26
19723,19724,AUSTIN,MORGAN,D,NaN,2016-06-27,MALE,HISPANIC,27,26
19732,19733,IOSEVIO,MORGAN,D,NaN,2016-06-27,MALE,BLACK,28,27
2572,2573,CARLY,BRACKIN,V,NaN,2016-06-27,FEMALE,HISPANIC,25,24
7185,7186,THOMAS,DONOVAN,J,NaN,2016-06-27,MALE,WHITE,24,23
20227,20228,LUKASZ,MURZANSKI,P,NaN,2016-06-27,MALE,WHITE,34,33
2636,2637,EBONY,BRAITHWAITE,L,NaN,2016-06-27,FEMALE,BLACK,31,30
20322,20323,WILLIAM,NANNINGA,D,NaN,2016-06-27,MALE,WHITE,29,28
20550,20551,JEFFERY,NEWING,T,NaN,2016-06-27,MALE,BLACK,36,35
20599,20600,LAWRENCE,NICKERSON,E,JR,2016-06-27,MALE,BLACK,38,37
20670,20671,PETER,NIZNIK,T,NaN,2016-06-27,MALE,WHITE,22,21
20751,20752,ZACHARY,NORVELL,R,NaN,2016-06-27,MALE,BLACK,37,36
20094,20095,DEMETRIO,MURO,L,NaN,2016-06-27,MALE,HISPANIC,27,26
27,28,ANTHONY,ABRAM,A,NaN,2016-06-27,MALE,BLACK,28,27