In [278]:
import pandas as pd
from assign_unique_ids_functions import *
import inspect
import itertools

In [279]:
def intersect(a, b):
     return list(set(a) & set(b))
def setdiff(a,b):
    return list(set(a) - set(b))
def union(a,b):
    return list(set(a) | set(b))

In [288]:
asd = pd.read_csv("input/all-sworn_demographics.csv.gz")
asud = pd.read_csv("input/all-sworn-units_demographics.csv.gz")

,all_sworn_ID,First.Name,Last.Name,Suffix.Name,Appointed.Date,Birth.Year,Gender,Race
0,12735,JEFFERY,AARON,NaN,2005-09-26,1971,MALE,WHITE
1,16413,KARINA,AARON,NaN,2005-09-26,1980,FEMALE,HISPANIC
2,4767,DANIEL,ABATE,NaN,1970-06-15,1942,MALE,WHITE
3,1207,ANTHONY,ABBATE,NaN,1994-12-05,1968,MALE,WHITE
4,3134,CARMEL,ABBATE,NaN,1969-01-06,1942,MALE,WHITE
5,3146,CARMEN,ABBATE,NaN,1954-10-16,1930,MALE,WHITE
6,28676,TERRY,ABBATE,NaN,1995-12-04,1972,MALE,WHITE
7,17891,LEON,ABBEY,NaN,1990-03-26,1945,MALE,BLACK
8,17890,LEON,ABBEY,NaN,1949-03-16,1923,MALE,BLACK
9,20156,MICHAEL,ABBEY,NaN,1976-04-26,1952,MALE,BLACK
10,876,ANDREW,ABBOTT,NaN,1970-12-14,1949,MALE,WHITE
11,4672,DALE,ABBOTT,NaN,1982-11-29,1953,MALE,WHITE
12,7837,ELIZABETH,ABBOTT,NaN,1987-12-07,1958,FEMALE,WHITE
13,17536,LAURA,ABBOTT,NaN,1986-07-14,1965,FEMALE,WHITE
14,31972,ZAID,ABDALLAH,NaN,2012-11-30,1983,MALE,WHITE
15,44,ABDALMAHD,ABDELHADI,NaN,2006-12-18,1978,MALE,WHITE
16,1986,AZIZ,ABDELMAJEID,NaN,2008-04-28,1984,MALE,API
17,21563,MOULAY,ABDULLAH,NaN,1989-12-26,1958,MALE,BLACK
18,12553,JASON,ABEJERO,NaN,1999-10-25,1976,MALE,API
19,24135,RESTITUTO,ABEJERO,NaN,1999-12-13,1949,MALE,API
20,16715,KENNETH,ABELS,NaN,1970-06-15,1949,MALE,WHITE
21,5970,DEBORAH,ABELSON,NaN,1985-09-09,1957,FEMALE,WHITE
22,8316,EUGENE,ABINGTON,NaN,1964-06-08,1937,MALE,BLACK
23,22431,PATRICK,ABNEY,NaN,2015-06-29,1990,MALE,WHITE
24,13383,JOHN,ABRAHAM,NaN,1947-12-22,1925,MALE,WHITE
25,15093,JOS,ABRAHAM,NaN,1950-04-03,1922,MALE,WHITE
26,21599,NANCY,ABRAHAM,NaN,2014-04-28,1986,FEMALE,API
27,1208,ANTHONY,ABRAM,NaN,2016-06-27,1988,MALE,BLACK
28,22774,PAUL,ABRAM,NaN,1976-04-26,1939,MALE,BLACK
29,10535,HENRY,ABRAMS,NaN,1986-06-16,1963,MALE,BLACK
...,...,...,...,...,...,...,...,...
31976,26630,RONALD,ZUNIGA,NaN,1999-10-25,1968,MALE,HISPANIC
31977,16694,KELLY,ZUPANCIC,NaN,2014-09-29,1989,FEMALE,WHITE
31978,21275,MICHAEL,ZUPANCIC,NaN,2012-12-14,1983,MALE,WHITE
31979,23247,PETER,ZUR,NaN,1970-12-14,1948,MALE,WHITE
31980,18008,LEONARD,ZURALES,NaN,1953-09-21,1927,MALE,WHITE
31981,6006,DEBORAH,ZURAWIK,NaN,1980-09-29,1954,FEMALE,WHITE
31982,12451,JAMES,ZURAWIK,NaN,1977-04-04,1953,MALE,WHITE
31983,12453,JAMES,ZURAWSKI,NaN,1970-06-15,1949,MALE,WHITE
31984,12452,JAMES,ZURAWSKI,NaN,1961-05-29,1935,MALE,WHITE
31985,19716,MARY,ZURAWSKI,NaN,1991-04-24,1962,FEMALE,WHITE
31986,10197,GREGORY,ZUREK,NaN,1991-01-02,1957,MALE,WHITE
31987,176,ADRIEL,ZURITA,NaN,2014-10-27,1990,MALE,HISPANIC
31988,31941,YVETTE,ZURITA,NaN,2006-11-27,1974,FEMALE,HISPANIC
31989,16004,JOSEPH,ZUZICH,NaN,1968-03-04,1947,MALE,WHITE
31990,10637,HENRY,ZWIER,NaN,1955-02-01,1929,MALE,WHITE
31991,12454,JAMES,ZWIT,NaN,1973-03-19,1951,MALE,WHITE
31992,12868,JEFFREY,ZWIT,NaN,2002-05-28,1979,MALE,WHITE
31993,19717,MARY,ZWOLSKI,NaN,1997-09-02,1967,FEMALE,WHITE
31994,124,ADAM,ZYCH,NaN,1946-03-11,1916,MALE,WHITE
31995,10638,HENRY,ZYCH,NaN,1961-01-09,1933,MALE,WHITE
31996,19761,MATEUSZ,ZYCH,NaN,2015-08-31,1990,MALE,WHITE
31997,2859,BRYAN,ZYDEK,NaN,2007-09-24,1984,MALE,WHITE
31998,5902,DAWID,ZYGMUNT,NaN,2016-02-29,1990,MALE,WHITE
31999,12455,JAMES,ZYGOWICZ,NaN,1966-05-09,1941,MALE,WHITE
32000,23248,PETER,ZYGOWICZ,NaN,1999-04-01,1970,MALE,WHITE
32001,16450,KATARZYNA,ZYLINSKA,NaN,2016-02-29,1980,FEMALE,WHITE
32002,6037,DEBRA,ZYLVITIS,NaN,1986-10-13,1956,FEMALE,WHITE
32003,19389,MARK,ZYMANTAS,NaN,2002-12-02,1974,MALE,WHITE
32004,3057,CARLO,ZYRKOWSKI,NaN,1996-12-02,1970,MALE,WHITE
32005,27928,STANLEY,ZYSKOWSKI,NaN,1955-02-08,1932,MALE,WHITE

In [281]:
def take_first_four(x):
    return x[:4]


def BY_to_CA(x):
    return 2016 - x


def add_columns(df, add_cols = ["F4FN", "F4LN", "Current.Age", "BY_to_CA"]):
    if "F4FN" in add_cols and "First.Name" in df.columns:
            df['F4FN'] = df['First.Name'].map(take_first_four)
    if "F4LN" in add_cols and 'Last.Name' in df.columns:
            df['F4LN'] = df['Last.Name'].map(take_first_four)
    if "Current.Age" in add_cols and "Current.Age" in df.columns:
        df['Current.Age.p1'] = df['Current.Age']
        df['Current.Age.m1'] = df['Current.Age']
    if "BY_to_CA" in add_cols and "Birth.Year" in df.columns:
        by_to_ca = lambda x: 2016 - x
        df['Current.Age.p1'] = df['Birth.Year'].map(BY_to_CA)
        df['Current.Age.m1'] = df['Birth.Year'].map(BY_to_CA) - 1  
    return df

In [282]:
def generate_on_lists(data_cols, base_lists):
    merge_list = []
    
    for col_list in base_lists:
        if intersect(col_list, data_cols):
            ml = intersect(col_list, data_cols)
            if '' in col_list:
                ml.append('')
            merge_list.append(sorted(ml, reverse=True))
            
    merge_list = list(itertools.product(*reversed(merge_list)))
    merge_list = [[i for i in ml if i != ''] for ml in merge_list]
    
    return merge_list

In [283]:
def loop_merge(df1, df2, on_lists, keep_columns, return_unmatched = True):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    for mc in on_lists:
        df1t = remove_duplicates(df1[keep_columns[:1] + mc], mc)
        df2t = remove_duplicates(df2[keep_columns[1:] + mc], mc)
        dfmt = df1t.merge(df2t, on=mc, how='inner')
        if dfmt.shape[0] > 0:
            print('******')
            print(mc)
            print(dfmt.shape[0])
            print('******')
            dfmt['Match'] = '-'.join(mc)
            dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
            df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
            df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]
    print(dfm.shape[0], df1.shape[0], df2.shape[0])
    if return_unmatched:
        return (dfm.reset_index(drop=True), df1, df2)
    else:
        return dfm.reset_index(drop=True)

In [284]:
def merge_datasets(df1, df2, keep_columns,
                   custom_matches = [], return_unmatched = True, name_changes=True):
    df1 = df1.dropna(axis=1, how='all')
    df2 = df2.dropna(axis=1, how='all')
    
    if "Birth.Year" not in intersect(df1.columns, df2.columns):
        add_cols = ["F4FN", "F4LN", "BY_to_CA", "Current.Age"]
    else:
        add_cols = ["F4FN", "F4LN"]
        
    df1 = add_columns(df1, add_cols)
    df2 = add_columns(df2, add_cols)
    
    
    cols = intersect(df1.columns, df2.columns)
    
    df1 = df1[[col for col in df1.columns
               if col in cols or col == keep_columns[0]]]
    df2 = df2[[col for col in df2.columns
               if col in cols or col == keep_columns[1]]]
    
    base_lists = [
        ['Current.Star', 'Star1', 'Star2', 'Star3', 'Star4', 'Star5','Star6', 'Star7', 'Star8', 'Star9', 'Star10'],
        ['First.Name', 'F4FN'], ['Last.Name', 'F4LN'], ['Appointed.Date'],
        ['Birth.Year', 'Current.Age', 'Current.Age.p1', 'Current.Age.m1', ''],
        ['Middle.Initial', ''], ['Gender', ''], ['Race', ''], ['Suffix.Name', '']
    ]
    
    on_lists = generate_on_lists(cols, base_lists)
    
    if custom_matches:
        on_lists.append(custom_matches)
    
    if name_changes:
        nc_lists = generate_on_lists(cols, [ml for ml in base_lists if "Last.Name" not in ml])
        nc_lists = [nc_list for nc_list in nc_lists if len(nc_list) > 3]
        on_lists.extend(nc_lists)
    
    merged_data = loop_merge(df1, df2, on_lists=on_lists, keep_columns=keep_columns, return_unmatched=return_unmatched)
        
    return(merged_data)

In [285]:
def append_to_reference(df1, df2, keep_columns, custom_matches = [], name_changes=True):
    ml = merge_datasets(df1, df2, keep_columns=keep_columns, 
                        custom_matches=custom_matches, name_changes=name_changes)
    nm_df1 = df1[df1[keep_columns[0]].isin(ml[1][keep_columns[0]])]
    nm_df2 = df2[df2[keep_columns[1]].isin(ml[2][keep_columns[1]])]
    df1 = df1.merge(ml[0][keep_columns], on=keep_columns[0], how='inner')
    df2 = df2.merge(ml[0][keep_columns], on=keep_columns[1], how='inner')
    
    ref = pd.concat([df1, df2, nm_df1, nm_df2], axis=0).reset_index(drop=True)
    
    if "UID" not in ref.columns:
        ref.insert(0, 'UID', ref.index + 1)
    return ref

In [286]:
t1 = append_to_reference(asd, asud, ["all_sworn_ID", "all_sworn_units_ID"])

******
['Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name']
31998
******

/Users/invinst/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/merge.py:1457: RuntimeWarning: divide by zero encountered in long_scalars
  stride //= shape[i]

31998 8 8

In [287]:
t1.tail(20)

,UID,Appointed.Date,Birth.Year,Current.Unit,First.Name,Gender,Last.Name,Race,Suffix.Name,all_sworn_ID,all_sworn_units_ID
63992,63993,1986-10-13,1956,650.0,DEBRA,FEMALE,ZYLVITIS,WHITE,NaN,6037,6037
63993,63994,2002-12-02,1974,14.0,MARK,MALE,ZYMANTAS,WHITE,NaN,19389,19389
63994,63995,1996-12-02,1970,20.0,CARLO,MALE,ZYRKOWSKI,WHITE,NaN,3057,3057
63995,63996,1955-02-08,1932,631.0,STANLEY,MALE,ZYSKOWSKI,WHITE,NaN,27928,27928
63996,63997,1970-01-19,1948,NaN,ROBERT,MALE,ANDERSON,WHITE,NaN,32000,NaN
63997,63998,1970-01-19,1948,NaN,ROBERT,MALE,ANDERSON,WHITE,NaN,32001,NaN
63998,63999,2009-12-16,1983,NaN,JAMES,MALE,BANSLEY,WHITE,NaN,31998,NaN
63999,64000,2009-12-16,1983,NaN,JAMES,MALE,BANSLEY,WHITE,NaN,31999,NaN
64000,64001,1950-06-03,1926,NaN,ROBERT,MALE,BARRETT,WHITE,NaN,32002,NaN
64001,64002,1950-06-03,1926,NaN,ROBERT,MALE,BARRETT,WHITE,NaN,32003,NaN
64002,64003,1995-01-03,1967,NaN,TIMOTHY,MALE,OBRIEN,WHITE,NaN,32005,NaN
64003,64004,1995-01-03,1967,NaN,TIMOTHY,MALE,OBRIEN,WHITE,NaN,32006,NaN
64004,64005,1970-01-19,1948,16.0,ROBERT,MALE,ANDERSON,WHITE,NaN,NaN,32000
64005,64006,1970-01-19,1948,128.0,ROBERT,MALE,ANDERSON,WHITE,NaN,NaN,32001
64006,64007,2009-12-16,1983,5.0,JAMES,MALE,BANSLEY,WHITE,NaN,NaN,31998
64007,64008,2009-12-16,1983,4.0,JAMES,MALE,BANSLEY,WHITE,NaN,NaN,31999
64008,64009,1950-06-03,1926,165.0,ROBERT,MALE,BARRETT,WHITE,NaN,NaN,32002
64009,64010,1950-06-03,1926,11.0,ROBERT,MALE,BARRETT,WHITE,NaN,NaN,32003
64010,64011,1995-01-03,1967,630.0,TIMOTHY,MALE,OBRIEN,WHITE,NaN,NaN,32005
64011,64012,1995-01-03,1967,630.0,TIMOTHY,MALE,OBRIEN,WHITE,NaN,NaN,32006

In [239]:
uhd = pd.read_csv("input/unit-history_demographics.csv.gz")

In [249]:
uhd.columns

Index(['unit_history_ID', 'First.Name', 'Last.Name', 'Middle.Initial',
       'Suffix.Name', 'Appointed.Date', 'Current.Age', 'Gender', 'Race',
       'Star1', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8',
       'Star9', 'Star10', 'Current.Unit'],
      dtype='object')

In [250]:
asd.columns

Index(['all_sworn_ID', 'First.Name', 'Last.Name', 'Middle.Initial',
       'Suffix.Name', 'Appointed.Date', 'Birth.Year', 'Gender', 'Race'],
      dtype='object')

In [252]:
t2 = merge_datasets(asd, uhd, , base_lists, name_changes=True)

******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'Last.Name', 'First.Name']
1311
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
4287
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'F4LN', 'First.Name']
2
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'Last.Name', 'First.Name']
6014
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
19934
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'F4FN']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'F4LN', 'First.Name']
4
******
******
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name']
4
******
******
['Suffix.Name', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
5
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
4
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
12
******
31581 428 16

In [257]:
amd = pd.read_csv("input/all-members_demographics.csv.gz")

In [259]:
t3 = merge_datasets(asd, amd, ["F4FN", "F4LN"], base_lists, name_changes=True)

******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name']
31914
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name']
3
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name']
8
******
31927 82 1
      all_members_ID First.Name Last.Name Middle.Initial Suffix.Name  \
1942            1943     NACALA       BEY              M         NaN

     Appointed.Date  Birth.Year  Gender   Race  F4FN F4LN
1942     1989-12-26        1964  FEMALE  BLACK  NACA  BEY

In [242]:
def StarMerge(df1, df2, on_list, keep_columns, return_unmerged = True):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    df2 = df2.loc[(df2["Star"].notnull()) & (df2["Star"] > 0)]
    stars = ["Star" + str(i) for i in range(1,11)]
    for mc_cols in on_list:
        for star in stars:
            mc1 = mc_cols + [star]
            mc2 = mc_cols + ["Star"]
            df1t = RemoveDuplicates(df1.loc[(df1[star].notnull()) & (df1[star] > 0), keep_columns[:1] + mc1], mc1)
            df2t = RemoveDuplicates(df2[keep_columns[1:] + mc2], mc2)
            dfmt = df1t.merge(df2t, left_on = mc1, right_on = mc2, how='inner')
            if dfmt.shape[0] > 0:
                print('******')
                print(mc1)
                print(dfmt.shape[0])
                print('******')
                dfmt['Match'] = '-'.join(mc + [star + "/" + "Star"])
                dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
                df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
                df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]
    if return_unmerged:
        return (dfm.reset_index(drop=True), df1, df2)
    else:
        return dfm.reset_index(drop=True)