In [1]:
import pandas as pd
from assign_unique_ids_functions import *
from merge_functions import *

In [2]:
profiles = pd.read_csv('../input/officer-profiles.csv.gz')
reference = pd.read_csv('../input/officer-reference.csv.gz')

In [3]:
acc = pd.read_csv('../input/accused_demographics.csv.gz')

In [4]:
atr_dict = append_to_reference(sub_df=acc,
                               profile_df = profiles,
                               ref_df = reference,
                              return_unmatched=True)

604 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
2 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
4 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
6 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
26 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
107 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
671 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name', 'Star3'] columns
3502 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star7'] columns
7 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
32 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
100 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
336 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
935 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
4192 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name', 'Star1'] columns
196 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
3 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
6 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
29 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
102 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
591 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
284 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
11 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
30 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
120 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
658 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns

KeyboardInterrupt:

In [ ]:
atr_dict.keys()

In [ ]:
um2 = atr_dict['UM2']
um2

In [ ]:
um1 = atr_dict['UM1']

In [ ]:
ref2 = atr_dict['ref']

In [ ]:
prof2 = aggregate_data(ref2, 'UID', mode_cols = listdiff(ref2.columns, ['UID']))

In [ ]:
prof2.tail()

In [ ]:
wit = pd.read_csv('../input/witnesses_demographics.csv.gz')

In [ ]:
atr_dict2 = append_to_reference(sub_df=acc,
                               profile_df = prof2,
                               ref_df = ref2,
                              return_unmatched=True)

In [ ]:
ref3 = atr_dict2['ref']

In [ ]:
prof3 = aggregate_data(ref3, 'UID', mode_cols = listdiff(ref3.columns, ['UID']))

In [ ]:
inv = pd.read_csv('../input/investigators_demographics.csv.gz')

In [ ]:
inv[inv['First.Name'].str.contains('TERE')][inv['Appointed.Date'] == '1986-09-08']

In [ ]:
atr_dict3 = append_to_reference(sub_df=inv,
                               profile_df = prof3,
                               ref_df = ref3,
                              return_unmatched=True
                               ,
                               custom_matches = [["First.Name", "Appointed.Date"]])

In [ ]:
um2 = atr_dict3['UM2'].sort_values('investigators_ID')
um2

In [ ]:
um1 = atr_dict3['UM1']

In [ ]:
um1[um1['UID'] == 8897]

In [ ]:
atr_dict3['ref'][atr_dict3['ref']['UID'] == 8897]

In [ ]:
prof3[prof3['First.Name']=='TERESE'][["First.Name", "Last.Name", "Appointed.Date", "UID"]]

In [ ]:
invf = pd.read_csv('../input/investigators.csv.gz')

In [ ]:
invf[invf['investigators_ID'].isin(um2['investigators_ID'])].sort_values('investigators_ID')

In [ ]:
invf['Current.Rank'][~invf['Current.Rank'].str.contains('IPRA')].value_counts()

In [ ]:
invf['Current.Rank'][~invf['Current.Rank'].str.contains('IPRA') & invf['Current.Rank'].str.contains('PO')].unique().tolist()

In [ ]:
ref4 = atr_dict3['ref']
prof4 = aggregate_data(ref4, 'UID', mode_cols = listdiff(ref4.columns, ['UID']))

In [ ]:
trro = pd.read_csv('../input/trr-officers_demographics.csv.gz')

In [ ]:
atr_dict4 = append_to_reference(sub_df=trro,
                               profile_df = prof4,
                               ref_df = ref4,
                              return_unmatched=True)

In [32]:
um2 = atr_dict4['UM2']
um2

,trr_officers_ID,First.Name,Last.Name,Suffix.Name,Appointed.Date,Gender,Race,Current.Star,F4FN,F4LN
1,2,ANDRE,REYES,NaN,1985-11-18,MALE,HISPANIC,17714,ANDR,REYE
2,3,MARIO,LIMON,NaN,2000-09-11,MALE,HISPANIC,14214,MARI,LIMO
4,5,DEJAN,MILOVANOVIC,NaN,2001-09-04,MALE,WHITE,19364,DEJA,MILO
26,27,MICHAEL,SANDUSKY,NaN,2000-09-11,MALE,WHITE,15593,MICH,SAND
32,33,TERENCE,HARTE,NaN,1970-06-15,MALE,WHITE,3,TERE,HART
41,42,LUIS,CARRIZAL,NaN,1999-09-13,MALE,HISPANIC,15808,LUIS,CARR
46,47,DOREEN,HLAVATY,NaN,1986-10-13,FEMALE,WHITE,515,DORE,HLAV
47,48,ANTONIO,GONZALEZ,NaN,1994-09-06,MALE,HISPANIC,13845,ANTO,GONZ
49,50,BRIAN,BROSNAN,NaN,2001-08-27,MALE,WHITE,13455,BRIA,BROS
51,52,RODERICK,GARDNER,NaN,1987-04-13,MALE,BLACK,1440,RODE,GARD
53,54,PAMELA,WORD,NaN,1990-08-27,FEMALE,BLACK,9987,PAME,WORD
54,55,MICHAEL,MULLIGAN,JR,1970-12-14,MALE,WHITE,891,MICH,MULL
59,60,KEITH,BAKEWELL,NaN,1998-11-30,MALE,WHITE,10823,KEIT,BAKE
62,63,MICHAEL,TAKAKI,NaN,1991-01-02,MALE,HISPANIC,20492,MICH,TAKA
63,64,RUSSELL,BLOMSTRAND,NaN,2002-10-28,MALE,WHITE,14176,RUSS,BLOM
65,66,ROBERT,SANCHEZ,NaN,1991-01-30,MALE,HISPANIC,6778,ROBE,SANC
73,74,JOSE,ORTIZ,NaN,1986-07-14,MALE,HISPANIC,2641,JOSE,ORTI
75,76,MARIO,ACOSTA,NaN,1999-10-25,MALE,OTHER,11164,MARI,ACOS
80,81,ALAN,LUCAS,NaN,1976-10-18,MALE,WHITE,6788,ALAN,LUCA
81,82,MICHAEL,VITELLARO,NaN,2000-09-11,MALE,WHITE,10731,MICH,VITE
96,97,MARIA,BUCIO,NaN,1999-11-15,FEMALE,HISPANIC,15059,MARI,BUCI
98,99,BRIAN,GAINER,NaN,1998-07-27,MALE,WHITE,2706,BRIA,GAIN
101,102,JOSEPH,MCMAHON,NaN,1968-08-12,MALE,WHITE,18,JOSE,MCMA
103,104,MICHAEL,GORDON,NaN,2002-10-28,MALE,WHITE,18751,MICH,GORD
105,106,RENATA,KEATING,NaN,1996-08-05,FEMALE,WHITE,19799,RENA,KEAT
107,108,JOHN,MORIARTY,NaN,1982-08-30,MALE,WHITE,13173,JOHN,MORI
111,112,JOSEPH,VILLARREAL,NaN,1973-02-19,MALE,HISPANIC,2217,JOSE,VILL
112,113,SHERRY,DAILING,NaN,1991-04-24,FEMALE,WHITE,6271,SHER,DAIL
114,115,KEVIN,LEAHY,NaN,1998-09-28,MALE,WHITE,19291,KEVI,LEAH
122,123,JOSEPH,TRIPOLI,NaN,1994-07-05,MALE,WHITE,7325,JOSE,TRIP
...,...,...,...,...,...,...,...,...,...,...
10746,10875,HECTOR,MORALES,NaN,2015-02-23,MALE,HISPANIC,13068,HECT,MORA
10747,10876,RYNE,KINSELLA,NaN,2014-10-27,MALE,WHITE,14964,RYNE,KINS
10751,10880,TOMAS,ALMAZAN,NaN,2015-02-02,MALE,HISPANIC,14092,TOMA,ALMA
10753,10882,LOUAY,SALEH,NaN,2014-10-27,MALE,WHITE,16529,LOUA,SALE
10756,10885,JESUS,CENTENO,NaN,2013-12-02,MALE,HISPANIC,18876,JESU,CENT
10757,10886,DANIEL,RUIZ,NaN,2014-04-28,MALE,HISPANIC,16958,DANI,RUIZ
10759,10888,KRISTEN,MARZANO,NaN,2014-10-27,FEMALE,WHITE,15561,KRIS,MARZ
10760,10889,NICHOLAS,KROK,NaN,2015-06-29,MALE,WHITE,11465,NICH,KROK
10761,10890,MATTHEW,SCHNOOR,NaN,2015-06-29,MALE,WHITE,15401,MATT,SCHN
10762,10891,TOMASZ,DUDA,NaN,2014-09-29,MALE,WHITE,15741,TOMA,DUDA
10765,10894,EUGENE,VANN,NaN,2014-11-24,MALE,HISPANIC,17679,EUGE,VANN
10766,10895,KRZYSZTOF,KAPINOS,NaN,2013-11-04,MALE,WHITE,17834,KRZY,KAPI
10768,10897,DANIEL,RICHARDS,NaN,2015-04-06,MALE,WHITE,12720,DANI,RICH
10769,10898,ISAIAH,PEREZ,NaN,2015-04-06,MALE,HISPANIC,12658,ISAI,PERE
10771,10900,KISHOR,KANNALA,NaN,2015-02-23,MALE,API,13321,KISH,KANN
10772,10901,JORGE,MURALLES,NaN,2015-06-29,MALE,HISPANIC,11931,JORG,MURA
10774,10903,PHASITH,KHOUNTHIKOUMANE,NaN,2015-06-29,MALE,API,14489,PHAS,KHOU
10776,10905,ALFREDO,LIERA,JR,2015-02-02,MALE,HISPANIC,14640,ALFR,LIER
10778,10907,JULITA,GRABOWSKI,NaN,2013-03-15,FEMALE,WHITE,4611,JULI,GRAB
10779,10908,JASON,COLEMAN,NaN,2013-03-15,MALE,BLACK,4756,JASO,COLE
10781,10910,THOR,KRAJNYK,NaN,1998-09-28,MALE,WHITE,13099,THOR,KRAJ
10783,10912,RAYMOND,DUNCKER,NaN,2015-02-02,MALE,WHITE,10388,RAYM,DUNC
10784,10913,SANTOS,ROMO,NaN,2014-10-27,MALE,HISPANIC,16302,SANT,ROMO
10785,10914,ROBERT,RIMSKY,NaN,2015-06-29,MALE,WHITE,12581,ROBE,RIMS
10789,10918,JOSEPH,LISCIANDRELLO,NaN,2014-02-18,MALE,WHITE,19362,JOSE,LISC
10792,10921,EDWARD,ORYAN,NaN,2013-11-25,MALE,WHITE,18562,EDWA,ORYA
10794,10923,HARRY,VAZQUEZ,JR,2014-04-28,MALE,HISPANIC,17014,HARR,VAZQ
10795,10924,WAJDY,EBEIDALLA,NaN,2013-04-01,MALE,WHITE,15351,WAJD,EBEI
10796,10925,LATONYA,CAPERS,NaN,2004-11-29,FEMALE,BLACK,13600,LATO,CAPE
10797,10926,ALEXANDER,PEREZ,NaN,2015-06-29,MALE,HISPANIC,11563,ALEX,PERE

In [33]:
x = [1,2,34]
x.extend([2,3])

In [34]:
x

[1, 2, 34, 2, 3]